modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 5000

[[ports]]
localPort = 5098
externalPort = 3002

[[ports]]
localPort = 5099
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 9999
externalPort = 3000
exposeLocalhost = true

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:2.0.0", "stripe:2.0.0"]

[userenv]

[userenv.shared]
STRIPE_PRICE_ID = "price_1SmrjQBzGFRke47sVkKhPcaD"
ADMIN_EMAILS = "switchcontrol67@gmail.com,cooperhagarty353@gmail.com"
INSTALLER_DOWNLOAD_URL = "https://pub-c4010f9528c14cbd9848f2c9c7c2306d.r2.dev/SwitchControl%20Setup%201.0.2.exe"

[userenv.production]
GOOGLE_REDIRECT_URI = "https://switchcontrol.org/api/auth/google/callback"

[userenv.development]
GOOGLE_REDIRECT_URI = "/api/auth/google/callback"
JWT_SECRET = "sc-jwt-dev-secret-change-in-production-2026"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
